# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
senior-fullstack/
frontend-design/
# Django
db.sqlite3
/media/
staticfiles/

# Environnements
.env

# Intermediate files (3-layer architecture)
.tmp/
credentials.json
token.json
